@import '../../../resources/assets/scss/loader';
.home {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  &__logo {
    &-link {
      display: inline-block;
      margin: 20px 0;
    }
    &-img {
      width: 150px;
    }
  }
  &__content {
    text-align: center;
  }
  &__heading {
    color: #525252;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 48px;
    font-weight: 200;
  }
  &__nav {
    margin: 20px 0;
    &-list {
      width: 100%;
      display: flex;
      justify-content: center;
      &-item {
        margin: 5px 15px;
      }
      &-link {
        font-size: 16px;
        color: #525252;
        font-family: "Source Sans Pro", sans-serif;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: #53C1DE;
        }
      }
    }
  }
}
